@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger-menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  @apply text-white

}

#menu-toggle {
  display: none;
}

.menu-icon {
  display: block;
  @apply text-white;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  background: rgba(106, 91, 205, 0.75);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.2px);
  -webkit-backdrop-filter: blur(4.2px);
}
.menu {
  @apply list-none;
  background: rgba(106, 91, 205, 0.75);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.2px);
  -webkit-backdrop-filter: blur(4.2px);
  text-align: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.menu.open {
  max-height: 500px; /* you can adjust this value according to your menu's height */
}

.menu li {
  padding: 10px;
}

.menu li a {
  @apply text-white;
  text-decoration: none;
}

@media (min-width: 640px) {
  .hamburger-menu {
    display: none;
  }
}